
<div class="container-fluid no-gutters pages" id="footer">

	<div class="row">
		<div class="logo">
			<h4>BK Artist Social</h4>
		</div>
	</div>

	<!-- <div class="socialmedia row">
		<#%= link_to href: 'http://www.example.com/' do %>
    	<#%= image_tag image_url('https://bkartistsocial.s3.amazonaws.com/bkaslogo4.png') %>
		<#% end %>
		<#%= link_to href: 'https://www.instagram.com/bkartistsocial/' do %>
    	<#%= image_tag image_url('https://bkartistsocial.s3.amazonaws.com/whinsta.png') %>
		<#% end %>
		<#%= link_to href: 'http://www.example.com/' do %>
    	<#%= image_tag image_url('https://s3.amazonaws.com/nordicsites/blyt2.png') %>
		<#% end %>

	</div> -->

	<div class="row">
		<p><%= link_to "Events", "/event"%></p>
		<p><%= link_to "New Artists", "/newartist"%></p>
		<p><%= link_to "Contact", "/contact"%></p>
		<p><%= link_to "Privacy Policy", "/privacy"%></p>
	</div>

</div>
